.header {
  padding: 20px;
  color: white;
}

.header__detective {
  height: 150px;
}

.header__title {
  font-size: 36px;
  margin-bottom: 0px;
  font-family: 'Spectral SC', serif;
  color: #3d74bc;
}