body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.mysteries {
  background: #dcebf7;
  padding: 10px 20px;
}

.mysteries__title {
  font-family: Spectral SC;
  font-weight: 400;
}