body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  background: #dcebf7;
}

.mysteries {
  padding: 10px 20px;
}

.filters {
  background: #3d73bc5c;
  padding: 10px;
  padding-bottom: 30px;
}